doctype html
html
  head
    title= title
    body
    <form method="POST" enctype="multipart/form-data" action="uploaddufichier">
    <input type="file" name="juliaroberts" multiple>
    <button> envoyer </button>
</form>